body{ 
    background-color: #A3BFDA;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
/* ANCHOR LISTS*/
a:link{
  text-decoration: none;
}
a:hover{ 
  color:#164570;
}

a:visited{
  color:white;
}
/* Navigation Horizontal. Goal: Make the Menu horizontal contents within the menu vertical ; 
Add background image to the left side of page but not within the nav bar */
h1{
  color:white;
  margin-top: 90px;
  text-align:center;
  z-index: 99999 px; 
}


.headernav nav{
  background-image: url(/img/CaridadCenterLogo.png);
  background-repeat: no-repeat;
  background-position: left; 
}
.headernav ul {
  top: 0; 
  right:0; 
  background-color: #cbcaca;
  list-style: none;
  padding: 0;
  margin: 0;
}

.headernav ul li {
  display: inline;
}

.headernav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.headernav ul li a:hover {
  background-color: #f1f1f1;
}

/*LOGO & DONATION BUTTON*/
.navitems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
  margin-right: 10px;
  }
  .navitems img{
    grid-column-start:1;
    grid-column-end: 2; 
    grid-row-start:1;
    grid-row-end:2; 
  }
.logo { 
  grid-area: 1 / 1 / 2 / 2; 
  width:250px;
  height:150px; 
}

.donationbutton{
  background-color: #FF5252;
  border:none;
  border-radius: 80px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width:150px;
  height: 50px;
  grid-area: 1 / 3 / 2 / 4;
}
/*IMAGE W/ TWO FEMALE DOCTORS*/

.mainimgcontainer{
  display:flex;
  justify-content:center;
  width: 100%;
  height: 100%; 
}
.mainimg{
  border-radius:51px;
  width: 100%;
  height: 650px; 
  border-style: solid;
  border-color: #164570;
  border-width: 5px;
}
/*Circle Menu Button*/
.homemenu{
    color:white;  
}
.homemenu ul{
  list-style: none; /* Remove bullet points */
  display: flex; /* Apply horizontal layout */
  justify-content:center;
}

/*CIRCLE HOME MENU*/
.circlemenu img{
  width: 250px;
  height: 250px;
  border-style:solid;
  border-width:5px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-width: 150px ;
  
}
.circlemenu a{
  color:white; 
  font-family:'Times New Roman', Times, serif;
  font-size: 24px ;
  text-decoration: none;
}
.circlemenu a:hover/*HOOVER ON THE LINK*/{
  color:#164570;
  text-decoration: wavy;
}
img{
    width: 45px;
    height: 45px;
}

/*CONTENTS W/IN ARTICLES*/
article{
  text-align:center;
}
.missionstatement{
    color:white;
}

/*Statistic List*/
#stat-list{ 
  display: flex;
  justify-content: center;
  align-items: center;
}
.stat-list{
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 2px;
  column-width: 20%;
  column-gap: 20%;
  list-style-type: none;
  background-color: #164570;
  border-radius:5px; 
  width: 125%;
  margin:10px; 
  padding: 15px;
}
.stat-list em{
  color:white;
}
.stat-list p{
  background-color: white;
  border-style: solid; 
  border-radius: 12px; 
  border-color:#164570;
  padding:34px;
  width: 240px; 
} 

/*FOOTER*/

footer ul{
  list-style: none; /* Remove bullet points */
  display: flex; /* Apply horizontal layout */
}
footer li{ 
  margin-right: 10px;
} 
footer {
  background-color:rgba(79, 82, 100, 0.306);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 20px;
  }
  
  .location { 
    color:#164570;
    background-color:rgba(255, 255, 255, 0.866);
    border-style: dotted;
    margin-left:5px;
    margin-right: 10px; 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .location-list{ 
    grid-area: 2 / 1 / 3 / 2; 
  }
  .clinic-hours { 
    color:#164570;
    background-color:rgba(255, 255, 255, 0.866);
    border-style: dotted; 
    margin-right:5px;
    margin-left:10px; 
    grid-area: 1 / 2 / 2 / 3;
   }
  .clinic-hours-list{ 
    grid-area: 2 / 2 / 3 / 3; 
  }
  .clinic-hours-list ul a{ 
    text-decoration: none;
  }
  .socials{ 
    color:#164570;
    background-color:rgba(255, 255, 255, 0.866); 
    border-style:dotted; 
    margin-left:5px;
    margin-right:10px;
    grid-area: 3 / 1 / 4 / 2; 
  }
  .social-media-list{ 
    grid-area: 3 / 2 / 4 / 3;
   }
  .copyright { 
    grid-area: 4 / 1 / 5 / 3;
   }
/*GLOBAL VALUES*/
*, *::before, *::after{
  box-sizing: border-box;
}
/* MEDIA QUERIES &  RESPONSE  *//*STYLES FOR SCREENS UP TO 600PX*/
@media only screen and (max-width: 600px) {
  body {
    background-color: #A3BFDA;
  }

.headernav nav{
  display: flex;
 justify-content: flex-end;
 position:fixed;
 top:0;
 right:0;
}
.headernav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #cbcaca;
  border-radius: 35px;
  text-align: right;
  width: 500px;
}

.headernav li {
  display: inline-block;
}

.headernav li a {
  display: block;
  padding: 10px 20px;
  color: #333;
}

.headernav li a:hover {
  background-color: #ccc;
}

/* DROPDOWN MENU ON THE NAV BAR */
.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu li:hover {
  background-color: #ccc;
}
/*Statistic List*/
.stat-list{
  display:grid; 
  grid-template-columns: 1fr 1fr;
  column-width: 10%;
  column-gap: 10%;
  list-style-type: none;
  background-color: #164570;
  border-radius:5px; 
  width: 600px;
  margin:10px; 
  padding: 15px;
}
.stat-list em{
  color:white;
}
.stat-list p{
  background-color: white;
  border-style: solid; 
  border-radius: 12px; 
  border-color:#164570;
  padding:34px;
  width: 240px; 
} 
/*YOUTUBE VIDEO*/
#video-container{
  position: relative;
  display:flex; 
  justify-content: center;
  align-items: center;
}
#video-container iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  height:250px;
  width: 350px;
}
/*FOOTER*/

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .location { 
    color:#164570;
    background-color:white;
    border-style: dotted;
    margin-left:5px;
    margin-right: 10px; 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .location-list{ 
    grid-area: 2 / 1 / 3 / 2; 
  }
  .clinic-hours { 
    color:#164570;
    background-color:white;
    border-style: dotted; 
    margin-right:5px;
    margin-left:10px; 
    grid-area: 1 / 2 / 2 / 3;
   }
  .clinic-hours-list{ 
    grid-area: 2 / 2 / 3 / 3; 
  }
  .clinic-hours-list ul a{ 
    text-decoration: none;
  }
  .socials{ 
    color:#164570;
    background-color:white; 
    border-style:dotted; 
    margin-left:5px;
    margin-right:10px;
    grid-area: 3 / 1 / 4 / 2; 
  }
  .social-media-list{ 
    grid-area: 3 / 2 / 4 / 3;
   }
  .copyright { 
    grid-area: 4 / 1 / 5 / 3;
   }
  
}

/*2ND MEDIA SCREEN*/
@media only screen and (max-width:550px){
  body{
    background-color: #A3BFDA;
  }
  article{ 
  text-align: center;
  }

/*LOGO & DONATION BUTTON*/
.navitems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
  margin-right: 10px;
  }
.navitems img{
  grid-column-start:1;
  grid-column-end: 2; 
  grid-row-start:1;
  grid-row-end:2; 
  }

.logo { 
  grid-area: 1 / 1 / 2 / 2; 
  width:150px;
  height:150px; 
}
.donationbutton{
  background-color: #FF5252;
  border:none;
  border-radius: 80px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width:100px;
  height: 50px;
  grid-area: 1 / 3 / 2 / 4;
}
/*TWO FEMALE DOCTOR*/
.mainimgcontainer{
  display:flex;
  justify-content:center;
  width: 60px;
  height: 36px; 
}
.mainimg{
  border-radius:51px;
  border-style: solid;
  border-color: #164570;
  border-width: 5px;
  width:550px;
  height:150px
}
/*CIRCLE HOME MENU*/
.circlemenu img{
  width: 120px;
  height: 40px;
  border-style:solid;
  border-width:5px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-width: 150px ;

/*YOUTUBE*/
#video-container{
  position: relative;
  display:flex; 
  justify-content: center;
  align-items: center;
}
#video-container iframe{
  position: absolute;
  top: 34%;
  left: 34%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  max-height: 40%;
  height:150px;
  width:230px;
}
  /*Statistic List*/
#stat-list{ 
  padding-bottom: 50px; 
  padding-top:50px; 
  z-index:-1;
  width: 650px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 2px;

}
.stat-list{
  color: #164570;
  z-index:2;
}
.stat1 { 
  grid-area: 1 / 1 / 2 / 2; 
}
.stat2 { 
  grid-area: 1 / 2 / 2 / 3; 
}
.stat3 { 
  grid-area: 2 / 1 / 3 / 2; 
}
.stat4 { 
  grid-area: 2 / 2 / 3 / 3; 
}
.stat5 { 
  grid-area: 3 / 1 / 4 / 2;
 }
.stat6{ 
  grid-area: 3 / 2 / 4 / 3;
 }
.stat7{
   grid-area: 4 / 1 / 5 / 2; 
  }
.stat8{
  grid-area: 4 / 2 / 5 / 3;
}
/*FOOTER*/

footer {
  background-color:rgba(79, 82, 100, 0.306);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .location { 
    color:#164570;
    background-color:rgba(255, 255, 255, 0.866);
    border-style: dotted;
    margin-left:5px;
    margin-right: 10px; 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .location-list{ 
    grid-area: 2 / 1 / 3 / 2; 
  }
  .clinic-hours { 
    color:#164570;
    background-color:rgba(255, 255, 255, 0.866);
    border-style: dotted; 
    margin-right:5px;
    margin-left:10px; 
    grid-area: 1 / 2 / 2 / 3;
   }
  .clinic-hours-list{ 
    grid-area: 2 / 2 / 3 / 3; 
  }
  .clinic-hours-list ul a{ 
    text-decoration: none;
  }
  .socials{ 
    color:#164570;
    background-color:rgba(255, 255, 255, 0.866); 
    border-style:dotted; 
    margin-left:5px;
    margin-right:10px;
    grid-area: 3 / 1 / 4 / 2; 
  }
  .social-media-list{ 
    grid-area: 3 / 2 / 4 / 3;
   }
  .copyright { 
    grid-area: 4 / 1 / 5 / 3;
   }
  
.contact {
  width: 300px; /* Adjust the width as per your preference */
  margin: 0 auto; /* Center the form horizontally */
}

.contact input[type="text"],
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact textarea {
  height: 100px;
}

.contact input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: #45a049;
}
