.contact {
  width: 300px; /* Adjust the width as per your preference */
  margin: 0 auto; /* Center the form horizontally */
}

.contact input[type="text"],
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact textarea {
  height: 100px;
}

.contact input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: #45a049;
}
